@import "tailwindcss";

@theme {
  --color-primary-50: #e3f6ff;
  --color-primary-100: #c4e0ed;
  --color-primary-200: #9CC6DB;
  --color-primary-500: #4371a6;
  --color-primary-600: #335282;
  --color-primary-700: #22365e;
  --color-primary-800: #0f1b3a;
  --color-secondary: #FCF6D9;
  --color-accent: #CF4B00;
  --color-accent-dark: #4f1a00;
  --color-accent-light: #ffcdaf;
}